@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;                          /*body*/
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    background:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;                 /*el wa7da el wetaneya eli bech ne9smouha lel 2 parties */
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 50px 55px rgba(0, 0, 0, 0.5);
}
.container .left-side{                  /* el partie el loula eli 3a lissar*/
    position: relative;
    background: #003147;
    padding: 40px;
}

.profiletext{                           /*div mta3 profile feha img w essem w 5dmtou */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profiletext .imgbox{                   /*div mta3 el profile img */
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgbox img{               /*profile img */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{                        /*h2 mt3 el essm w la9ab */
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiletext h2 span{                   /*span mta3 el 5edma mta3 el sayed*/
    font-size: 0.8em;
    font-weight: 300;
}
.contact-info{                          /*div mta3 contact */
    padding-top: 40px;

}
.title{                                 /*title mta3 el jiha el lissar*/
    color: #fff;
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.contact-info ul {                      /*ul mta3 el contact */
    position: relative;
}
.contact-info ul li{                    /*li eli fi westha */
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact-info ul li .icon{                 /*icons mta3 eli mawjoudin fel li*/
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contact-info ul li span{               /*span heya mawjouda feha el ktiba el 9odem el icons*/
    color: #fff;
    font-weight: 300;
}
.education li{                      
    margin-bottom: 15px;
}
.education h5{                      
    color: #03a9f4;
    font-weight: 500;
}
.education h4:nth-child(2n){          
    color: #fff;
    font-weight: 600;
}
.education h4{                          
    color: #fff;
    font-weight: 200;
}
.education ul li{                      
    list-style: none;
}

.language span{                       
    color: #fff;
    font-weight:lighter;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.language .percent{                    
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.language .percent div{                 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}




.container .right-side{                 /*w hedhi el partie eli 3ala limine right-side*/
    position: relative;
    background: #fff;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase ;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_campany{
    min-width: 150px;
}
.about .box .year_campany h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    color: #848c90;
}
.interest ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 30px;
}
